.App {
  text-align: center;
}


.App-logo {
  height: 10vh;
  padding-bottom: 3vh;
  padding-top: 0;
  
 
  
}

label {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  background: cadetblue;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
